<html>
    <head>
        <title> About</title>
    </head>
    <body>
        <h1> About us</h1>
        <p>This is a test to make sure routing has been set up properly, this will change.</p>
        <p>This is another test to ensure nodemon works fine.</p>
    </body>
</html>