<html>
    <head>
    </head>
    <body>
    <a href="/staff">Staff Login</a> 
    <h1>Dinner Menu</h1>
    {{#dinner}}
        <h2>{{name}}</h2>
        <p>
            Description: {{description}} <br>
            Ingredients: {{ingredients}} <br>
            Price: £{{price}} <br></p>
    {{/dinner}}
    <h1>Lunch Menu</h1>
    {{#lunch}}
        <h2>{{name}}</h2>
        <p>
            Description: {{description}} <br>
            Ingredients: {{ingredients}} <br>
            Price: £{{price}} <br></p>
    {{/lunch}}
    </body>
</html>